/* @import url('./fonts/BasementGrotesque-BlackExpanded.otf'); */

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Oswald:wght@700&family=Ubuntu:wght@300;400&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    background-color: #525CEB;
}

#seleccionar-personaje {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-family: 'Lilita One', sans-serif;
    color: white;
    font-size: 32px;
}

.subtitulo {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 20px;
}

.tarjetas{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.ataques {
    display: flex;
    gap: 10px;
}

.tarjeta-de-personaje {
    width: 180px;
    height: 100px;
    background: #3D3B40;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.tarjeta-de-personaje img {
    width: 60px;
}

#boton-personaje {
    font-family: 'Ubuntu', sans-serif;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    margin-top: 20px;
}

input {
    display: none; 
}

input:checked + label{
    background-color: #BFCFE7;
}

#personaje-enemigo {
    text-align: center;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-ataque {
    font-family: 'Ubuntu', sans-serif;
    width: 80px;
    height: 40px;
    background: #3D3B40;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: transparent;
}

#mensajes {
    width: 280px;
    margin-top: 20px;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
    background: #F8EDFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#boton-reiniciar {
    font-family: 'Ubuntu', sans-serif;
    color: #525CEB;
    border: none;
}

.combate {
    display: grid;
    gap: 25px;
    grid-template-columns: 100px 100px;
    margin-top: 20px;
}

#victorias-jugador, #victorias-enemigo {
    font-size: 32px;
    margin-bottom: 0;
}

.tarjetas-ataques {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 20px;
}

img {
    width: 80px;
    height: 80px;
}

#ver-mapa {
    flex-direction: column ;
    align-items: center;
    justify-content: center;
}

#ver-mapa button {
    user-select: none;
    font-family: 'Ubuntu', sans-serif;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    margin:3px 0;
}

@media (max-width: 560px) {
    .tarjetas {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 460px) {
    .ataques {
        display: flex;
        flex-direction: column;
    }    
}

@media (max-width: 265px) {
    #ver-mapa div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}